<html>

<head>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>
    <main>
        <form class="form-inline formDriection">
            <div class="form1 formTop">
                <div class="form-group">
                    <label for="inputPassword6" class="nameLabel">SchoolName :</label>
                    <input type="text" id="name" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                </div>
                <div class="form-group eLabel form2">
                    <label for="inputPassword6" class="nameLabel">Place :</label>
                    <input type="text" id="place" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="mButtom">
                <input type="hidden" id="schoolId" value="<%=schoolId %>" />
                <button type="button" class="btn btn-primary submit" onclick="addSchool()">Submit</button>
            </div>
        </form>
    </main>
    <script>
        function addSchool() {
            var name = document.getElementById('name').value
            var place = document.getElementById('place').value
            const schoolId = document.getElementById('schoolId').value
            const data = {
                name: name,
                place: place
            }

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "name": name,
                "place": place
            });

            const requestOptions = {
                method: schoolId ? 'PUT' : 'POST',
                headers: myHeaders,
                body: raw,
            };

            let url = 'http://localhost:2000/api/school'
            if (schoolId) {
                url = url + '/' + schoolId
            }
            fetch(url, requestOptions)
                .then((response) => response.text())
                .then((result) => {
                    window.location = '/school'
                })
                .catch((error) => console.error(error));
        }

        function getSchool(schoolId) {
            const requestOptions = {
                method: "GET",
                redirect: "follow"
            };

            fetch("http://localhost:2000/api/school/" + schoolId, requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    document.getElementById('name').value = result.name;
                    document.getElementById('place').value = result.place;
                })
                .catch((error) => console.error(error));
        }

        const schoolId = document.getElementById('schoolId').value
        if (schoolId) {
            getSchool(schoolId)
        }
    </script>
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>