<html>

<head>

    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>
    <main>
        
        
        <div class="jumbotron">
            <div class="Click">
                <a href="/school/add" class="addClick size">ADD SCHOOL</a>
            </div>
            <select id="limit" onchange="loadSchoolPage()">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="80">80</option>
                <option value="100">100</option>
            </select>
            
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>School Name</th>
                        <th>Place</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="schoolTableBody">
                    <tr>
                        <td>LOADING!!...</td>
                    </tr>
                </tbody>
            </table>
            <div class="editDel cntr">
                <div class="editAction size">
                    <a href="">1</a>
                </div>
                <div class="editAction size">
                    <a href="">2</a>
                </div>
                
            </div>

        </div>
        
    </main>
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>
<script>
    
    var table = document.getElementById("schoolTableBody");
    
    var limitNum = document.getElementById("limit")

    function loadSchoolPage() {
        const requestOptions = {
            method: "GET",
        };
        fetch(`http://localhost:2000/api/school?limit=${limitNum.value}`, requestOptions)
            .then((response) => response.json())
            .then((result) => {
                var trHtml = ''
                
                for (var i = 0; i < result.data.length; i++) {
                    var opt = result.data[i];
                    trHtml = trHtml + `<tr>
                                        <td>${i + 1}</td>
                                        <td>${opt.name}</td>
                                        <td>${opt.place}</td>
                                        <td>
                                            <div class="editDel">
                                                <div class="editAction size">
                                                    <a href="school/${opt.id}">Edit</a>
                                                </div>
                                                <div class="editAction size">
                                                    <a class="pointer" onclick="deleteSchool(${opt.id})">Delete</a>
                                                </div>
                                                </div>
                                        </td>
                                    </tr>`
                }
                table.innerHTML = trHtml
            }).catch((error) => console.error(error));
    }

    function deleteSchool(schoolId) {
        result = confirm('are you sure you want to delete?')

        if (!result)
            return

        const requestOptions = {
            method: "DELETE",
        };

        fetch("http://localhost:2000/api/school/" + schoolId, requestOptions)
            .then((response) => response.text())
            .then((result) => {
                window.location = '/school'
            })
            .catch((error) => console.error(error));
    }

    window.addEventListener('load', () => {
        loadSchoolPage()
    })
</script>

</html>