<html>

<head>

    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>
    <main>
        <div id="test34" style="width: 100px; height: 100px; background-color: none;"></div>
        <div class="jumbotron">
            <div class="Click">
                <a href="/school/add" class="addClick size">ADD SCHOOL</a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>School Name</th>
                        <th>Place</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="schoolTableBody">
                    <tr>
                        <td>LOADING!!...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>
<script>
    var table = document.getElementById("schoolTableBody");
    console.log(table)
    function loadSchoolPage() {
        const requestOptions = {
            method: "GET",
        };
        fetch("http://localhost:2000/api/school", requestOptions)
            .then((response) => response.json())
            .then((result) => {
                var table = document.getElementById("schoolTableBody");
                var trHtml = ''
                for (var i = 0; i < result.length; i++) {
                    var opt = result[i];
                    trHtml = trHtml + `
            <tr>
                <td>${i + 1}</td>
                <td>${opt.name}</td>
                <td>${opt.place}</td>
                <td>
                    <div class="editDel">
                        <div class="editAction size">
                            <a href="school/${opt.id}">Edit</a>
                        </div>
                        <div class="editAction size">
                            <a class="pointer" onclick="deleteSchool(${opt.id})">Delete</a>
                        </div>
                        </div>
                 </td>
            </tr>
        `
                }
                table.innerHTML = trHtml
            }).catch((error) => console.error(error));
    }

    function deleteSchool(schoolId) {
        result = confirm('are you sure you want to delete?')

        if (!result)
            return

        const requestOptions = {
            method: "DELETE",
        };

        fetch("http://localhost:2000/api/school/" + schoolId, requestOptions)
            .then((response) => response.text())
            .then((result) => {
                window.location = '/school'
            })
            .catch((error) => console.error(error));
    }

    window.addEventListener('load', () => {
        loadSchoolPage()
        var test34 = document.getElementById('test34')
        var f = setInterval(function(){
             test34.style.height = parseInt(test34.style.height) - 2 
             test34.style.width = parseInt(test34.style.width) - 2
             if (test34.style.height === '0px') {
                clearInterval(f)
             }
        }, 100)
    })
</script>

</html>