<meta charset="UTF-8">
<title>StudentDatabase</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body {
    padding: 60px;
  }

  .click {
    text-align: right;
    margin-bottom: 10px;
  }

  .formDriection {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }

  .option {
    flex-direction: row;
    display: flex;
    gap: 10px;
  }

  .date {
    padding: 18px;
  }

  .eLabel {
    margin-right: 8px;
  }

  .birth {
    padding-right: 24px;
  }

  .press {
    padding-left: 2px;
  }

  .pressLabel {
    margin-left: 46px;
  }

  .pressLabel-1 {
    padding-left: 40px;
  }

  .section {
    margin-right: 150px;
  }

  .inputLabel {
    margin-right: 162px;
  }

  .submit {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dob {
    padding-left: 4px;
  }

  .editAction {
    margin-top: 6px;
    background-color: green;
  }

  .editDel {
    flex-direction: row;
    display: flex;
    gap: 10px;
  }

  .addClick {
    background-color: black;
    color: white;
  }

  .size {
    font-weight: bold;
    padding: 6px;
    border-radius: 10px;
    letter-spacing: 1px;
  }

  .pressSection {
    padding-right: 4px;
  }

  .nameLabel {
    padding-left: 8px;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a {
    color: white;
  }

  .eId {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
  }

  .form1 {
    text-align: center;
    flex-direction: column;
    display: flex;
    gap:10px;
  }

  .formTop {
    margin-top: 60px;
  }

  .formChild {
    padding-left: 30px;
  }

  .mButtom {
    margin-bottom: 40px;
  }

  .pointer{
    cursor: pointer;
  }

  .form2 {
    margin-left: 52px ;
}
</style>